<h2>Altas Usuarios</h2>
<div class="container-formulario">
    <form [formGroup]="profileForm" (ngSubmit)="agregar()">
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First Name">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">last Name</label>
            <input type="text" class="form-control" id="lastName"  formControlName="lastName" placeholder="Last Name">
          </div>
          
          <button class="btn btn-primary">Agregar</button>
          <a class="btn btn-danger ms-2" routerLink='/listado'>Cancelar</a>
    </form>
</div>